<footer class="topnav">
    <div class="footer-copyreight">
        
            All atricles belong to <a href="www.sciworthy.com" target="_blank">'site'</a>
            <a class="grey-text text-lighten-4-right" href="/articles.json">Article JSON</a>
        
    </div>
</footer>